* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #001528;
  /*overflow: hidden;*/
}

.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}


.page-section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Arial', sans-serif;
  color: #dbeeff;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

.page-section:nth-child(odd) {
  justify-content: flex-end;
}
